body {
  margin:0;
  padding:0;
  font: 12px/20px "Helvetica Neue", sans-serif;
  background:#010101;
}

.selected {
  color: #2222aa;
}

code {
  font-family:monospace;
}

#keystrokes-canvas {
  position:absolute;
}

.Greys .q1-9{ fill:#223; }
.Greys .q2-9{ fill:#236; }
.Greys .q3-9{ fill:#359; }
.Greys .q4-9{ fill:#665; }
.Greys .q5-9{ fill:#76e; }
.Greys .q6-9{ fill:#ddf; }
.Greys .q7-9{ fill:#eef; }
.Greys .q8-9{ fill:#fff; }

rect {
  shape-rendering: optimize-speed;
  pointer-events: none;
}

.play { fill:#a22; }
rect.hour-line { fill:#000; }

.logged {
  color:#eee;
  padding-right:20px;
}

.logged #total_keystrokes {
  font-weight:bold;
}

#help {
  color:#444;
  background:#eee;
  padding:20px;
  font: 18px/30px "Helvetica Neue", sans-serif;
  display:none;
}

#load {
  position:absolute;
  left:50%;
  top:50%;
}

ul{
  color:#777777;
  height: 26px;
  overflow: auto;
  background-color: #efefef;
  list-style-type: none;
  padding: 5px;
  text-transform: uppercase;
}

li{
  float: left;
  font-size: 2em;
  width: 20%;
  padding: 3px;
}
