body {
  margin:0;
  padding:0;
  font: 12px/20px "Helvetica Neue", sans-serif;
  background:#010101;
}

#keystrokes-canvas {
  position:absolute;
}

#buttons {
  position:fixed;
  background:#25273a;
  right:0px;
  top:0px;
  padding:10px;
  opacity:0.3;
  -webkit-transition:50ms all linear;
}

#buttons:hover { opacity:1; }

#buttons h4 {
  display:inline;
  padding:5px 20px 5px 10px;
  font-weight:bold;
  color:#eee;
}

#buttons a {
  text-decoration:none;
  color:#ccc;
}

#buttons a:hover {
  text-decoration:underline;
}

#buttons #stack {
  background:url('../css/chart.png') no-repeat;
  padding:5px 20px 5px 30px;
  height:40px;
}

#buttons #normal {
  background:url('../css/blocks.png') no-repeat;
  height:40px;
  padding:5px 10px 5px 30px;
}

.Greys .q1-9{ fill:#111; }
.Greys .q2-9{ fill:#223; }
.Greys .q3-9{ fill:#336; }
.Greys .q4-9{ fill:#45a; }
.Greys .q5-9{ fill:#76e; }
.Greys .q6-9{ fill:#99f; }
.Greys .q7-9{ fill:#fcf; }
.Greys .q8-9{ fill:#faf; }

.play { fill:#a22; }
rect.hour-line { fill:#000; }

.logged {
  color:#eee;
  padding-right:20px;
}

.logged #total_keystrokes {
  font-weight:bold;
}
