body {
  margin:0;
  padding:0;
  font: 12px/20px "Helvetica Neue", sans-serif;
  background:url('lightnoise.png');
}

rect.strokes {
  fill:#a50f15;
}

#keystrokes-canvas {
  position:absolute;
}

#keystrokes h4 {
  text-transform:uppercase;
  letter-spacing:3.5px;
  border-top:1px solid #333;
}

rect.commit {
  fill:#c40a7f;
}

text.hover {
  font: 11px/20px "Helvetica Neue", sans-serif;
  fill:#fff;
}


#buttons {
  position:fixed;
  background:#fff;
  right:0px;
  top:0px;
  padding:10px;
}

#buttons h4 {
  display:inline;
  padding:5px 20px;
  font-weight:bold;
  color:#444;
}

#buttons a {
  text-decoration:none;
  color:#920000;
}

#buttons a:hover {
  text-decoration:underline;
}

#buttons #stack {
  background:url('../css/chart.png') no-repeat;
  padding:5px 40px 5px 30px;
  height:40px;
}

#buttons #normal {
  background:url('../css/blocks.png') no-repeat;
  height:40px;
  padding:5px 10px 5px 30px;
}

rect.hour-line {
  fill:#eee;
}


/*
.Greys .q4-9{fill:rgb(251,106,74)}
*/
.Greys .q5-9{fill:rgb(239,59,44)}
.Greys .q6-9{fill:rgb(203,24,29)}
.Greys .q7-9{fill:rgb(165,15,21)}
.Greys .q8-9{fill:rgb(103,0,13)}
